*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", "Raleway", "Verdana", "Tahoma", sans-serif;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0 auto;
}

.main__container {
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section, .slider {
  padding: 0;
  margin: 0 auto;
}

.section__container, .pfolio-btn, .offer__container {
  width: 320px;
  max-width: 1200px;
}

.section__main-title, .slider__main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 412px;
  margin: 0 auto;
  padding: 0;
}

.section__spacing {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}

.going-to-row, .footer__social-box {
  display: flex;
  flex-direction: row;
}

.going-to-column, .footer__address, .footer__newsletter, .footer__socials, .footer__contact, .footer__container, .footer {
  display: flex;
  flex-direction: column;
}

.figure-flex {
  display: flex;
  flex-direction: row;
}

.wraping-flex, .pfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.spacing-flex, .pfolio-item {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}

.link, .footer__link, .header__link, .link--active {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  padding: 12px;
  font-size: 14px;
  margin: 0 4px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .footer__link:hover, .header__link:hover, .link--active:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:focus, .footer__link:focus, .header__link:focus, .link--active:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link--active {
  color: #2196f3;
  position: relative;
}
.link--active::after {
  position: absolute;
  display: block;
  content: "";
  top: 45px;
  left: 0;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  cursor: unset;
  pointer-events: none;
  background-color: #2196f3;
  margin-left: 14px;
  transform: translateY(12px);
}

.buttons {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:focus {
  background-color: #f5f4fa;
  color: var(--FontColorFirst);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: #ffffff;
}
.header__container {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.header__link-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.header__link-logo--color-other {
  color: #212121;
}
.header__contact {
  display: none;
}

.header__cont-icon {
  height: 10px;
}

.header__link {
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  color: #2196f3;
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: none;
}

.header__mobile-btn {
  border: 0;
  background-color: #ffffff;
}

.header__mobile-icon {
  fill: #212121;
  margin: 0 auto;
  cursor: pointer;
}
.header__mobile-icon:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
  .header__container {
    height: 80px;
    justify-content: space-between;
  }
  .header__item {
    display: flex;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .header__link {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .header__link-logo {
    margin: 0;
    padding: 0;
    margin-right: 83px;
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .link.header__link, .header__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header__container {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #ececec;
  }
  .header__contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .header__link-logo {
    margin-right: 93px;
  }
  .header__link {
    font-size: 14px;
  }
  .header__cont-icon {
    height: 16px;
  }
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  fill: #000000;
  top: 21px;
  right: 25px;
}
.menu-toggle:focus, .menu-toggle:hover {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  padding-top: 32px;
  background-color: #ffffff;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  text-decoration: none;
  letter-spacing: 0.02em;
  list-style: none;
}

.list-pages {
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
}
.list-pages__link {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline;
  line-height: 47px;
}

.active {
  color: #2196f3;
}

.list-contacts {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-contacts__phone {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
  line-height: 40px;
}
.list-contacts__mail {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  line-height: 28px;
}

.list-social {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.list-social__item {
  line-height: 1.2;
}
.list-social__item--link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.list-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(153, 151, 151, 0.7490196078);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.footer {
  background-color: #2f303a;
  padding: 60px 0 60px 0px;
  margin: 0 auto;
}
.footer__container {
  gap: 60px;
  margin: 0 auto;
}
.footer__contact {
  justify-content: center;
}
.footer__newsletter {
  margin: 0;
}
.footer__social-box {
  justify-content: center;
}
.footer__logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin: 0;
  text-align: center;
}
.footer__logo-link--color-other {
  color: #ffffff;
}
.footer__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
  text-align: center;
}
.footer__icon-sm {
  width: 44px;
  height: 44px;
  margin: 0;
  border: 0px;
  fill: #ffffff;
  border-color: #2196f3;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1019607843);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon-sm:hover {
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}
.footer__icon-gap, .footer__social-box {
  gap: 10px;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer__btn-icon {
  margin-left: 24px;
}

.footer__label-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__newsletter-input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  width: 90%;
  max-width: 450px;
  min-width: 320px;
  height: 50px;
  background-color: #2f303a;
  margin: 0;
  padding: 16px;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer__newsletter-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-color: rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-color: rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-color: rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:-moz-placeholder-shown {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:-ms-input-placeholder {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:placeholder-shown {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:not(:-moz-placeholder-shown) {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:not(:-ms-input-placeholder) {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:not(:placeholder-shown) {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__newsletter-input:hover, .footer__newsletter-input:focus, .footer__newsletter-input:active {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}

.footer__btn-submit {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  fill: #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.footer__btn-submit:hover, .footer__btn-submit:focus {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 9px 0 0 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-imgslider-480@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__container {
  padding-top: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding-bottom: 60px;
}
.slider__main-title {
  margin: 0 auto;
  max-width: 365px;
  height: 84px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-imgslider-480@2x.jpg");
  }
}
.slider__container > buttons {
  margin-top: 30px;
}

.list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  gap: 30px;
}
.list__container {
  padding: 60px 15px 60px 15px;
}
.list__title {
  max-width: 450px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  padding-top: 30px;
}
.list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
  max-width: 450px;
  height: 75px;
}
.list__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}
.list__icon {
  width: 70px;
  height: 70px;
}

.offer__container {
  display: none;
}

.team {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background-color: #f5f4fa;
  width: 100%;
}
.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__title {
  text-align: center;
}
.team__list {
  margin: 0 auto;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.team__list-item {
  margin-bottom: 30px;
}
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 10px 0;
}
.team__description {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;
}
.team__box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 30px;
  gap: 10px;
}

.team__icon-sm {
  width: 44px;
  height: 44px;
  margin: 0;
  border: 0px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-sm:hover {
  border-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients, .clients__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}
.clients__container {
  min-width: 290px;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 60px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.clients__list-item {
  flex-basis: calc((100% - 30px) / 2);
  width: 100%;
  height: 92px;
}
.clients__icon {
  fill: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
  width: 100%;
  height: 100%;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pfolio-item__border {
  border: 1px solid #EEEEEE;
  display: block;
  margin: 0;
  z-index: 1;
  position: relative;
  background-color: #ffffff;
}
.pfolio-item__image {
  display: block;
}
.pfolio-item__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 20px 24px 0 24px;
  color: #212121;
}
.pfolio-item__designation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto;
  padding: 4px 24px 20px 24px;
}
.pfolio-item__box {
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pfolio-item__box:hover, .pfolio-item__box:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pfolio-item__box--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9019607843);
  padding: 49px 45px 0 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pfolio-btn__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pfolio-btn__buttons {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pfolio-btn__buttons:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-flex, .pfolio-btn {
  display: flex;
  justify-content: center;
}

.pfolio-spacing-flex {
  margin: 0 auto;
  padding-top: 50px;
}

.pfolio-item__box:hover .pfolio-item__box--overlay {
  transform: translateX(0);
}

.modal {
  position: fixed;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__btn {
  top: 8px;
  right: 8px;
  position: absolute;
  border-style: none;
}

.modal__icon {
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 30px;
  position: absolute;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid;
  fill: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
}

.modal__anime {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.form__title {
  width: 370px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px auto 0 auto;
  padding: 0;
}

.form__input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  margin-top: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}

input {
  line-height: 1.15;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

.form__icon {
  position: absolute;
  display: flex;
  width: 15px;
  height: 12px;
  margin-top: 18px;
  margin-left: 12px;
  fill: #212121;
}

.form__icon:hover,
.form__icon:focus {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__svg-name {
  width: 12px;
  height: 12px;
}

.form__svg-tel {
  width: 13px;
  height: 13px;
}

.form__svg-mail {
  width: 15px;
  height: 12px;
}

.form__label:focus-within,
.form__comment:focus-within {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus-within .form__svg-name,
.form__label:focus-within .form__svg-tel,
.form__label:focus-within .form__svg-mail,
.form__label:focus-within .form__icon {
  fill: #2196f3;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__svg {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  margin-top: 4px;
  text-indent: 42px;
  color: #757575;
  font-size: 12px;
  display: block;
  background-repeat: no-repeat;
  background-position: left 15px center;
  transition: background-image color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  width: 370px;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  color: #212121;
  opacity: 50%;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__svg:hover,
.form__comment:hover,
.form__svg:focus,
.form__comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.form__icon-checked {
  display: flex;
  align-items: center;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-checked::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__links-check {
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, -webkit-text-decoration;
  transition-property: text-decoration, color;
  transition-property: text-decoration, color, -webkit-text-decoration;
  letter-spacing: 0.06em;
}

.form__links-check:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-checkbox:checked + .form__icon-checked::before {
  background-color: #2196f3;
  outline: 1px solid #2196f3;
  border-radius: 2px;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-send {
  padding: 10px 76px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.form__btn:hover,
.form__btn:focus {
  background-color: #ffffff;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-checkbox--hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form__comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}/*# sourceMappingURL=main.css.map */