:root {
    --BackgroundColorFirst: #e5e5e5;
    --BackgroundColorSecond: #2f303a;
    --FontColorFirst: #212121;
    --FontColorSecond: #757575;
    --SelectionColor: #2196f3;
    --ColorWhite: #ffffff;
    --ColorWhiteTransp: #ffffff99;
    --ColorAlmostWhite: #f5f4fa;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--BackgroundColorFirst);
    color: var(--FontColorFirst);
    font-family: "Roboto", "Raleway",'Verdana',
        'Tahoma',  sans-serif;
    margin: 0 auto;
    padding: 0;
}

ul {list-style: none;}

.link-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--SelectionColor);
    text-decoration: none;
    margin:0;
}

.logo-color-other-header {
    color: var(--FontColorFirst);
}

.logo-color-other-footer {
    color: var(--ColorWhite);
}

.logo-color-other {
    color: var(--FontColorFirst);
}

.link {
    text-decoration: none;
    color: var(--FontColorFirst);
    font-weight: 500;
    padding: 12px;
    font-size: 14px;
    margin:0 4px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: var(--SelectionColor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus {
    color: var(--SelectionColor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-contact {
    color: var(--FontColorSecond);
    fill: var(--FontColorSecond);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-contact:hover {
    color: var(--SelectionColor);
    fill: var(--SelectionColor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-on-site {
    color: var(--SelectionColor);
    position: relative;
}

.link-on-site::after{
    position: absolute;
        display: block;
        content: "";
        top: 44px;
        width: 70%;
        height: 4px;
        border-radius: 2px;
        cursor: unset;
        pointer-events: none;
        background-color: var(--SelectionColor);
        margin-left: 14px;
        transform: translateY(12px);
}

.header-class {background: var(--ColorWhite);
}

.link-footer:focus {
    color: var(--SelectionColor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--FontColorSecond);
    padding: 9px 0 0 0;
    margin:0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    
    background-color: var(--BackgroundColorSecond);
    max-height:252px;
    padding: 60px 0 60px 0px;
    margin: 0 auto;
}

.address-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--ColorWhite);
    padding-top: 20px;
}

.buttons {
    background-color: var(--ColorAlmostWhite);
    color: var(--FontColorFirst);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover {
    background-color: var(--SelectionColor);
    color: var(--ColorWhite);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:focus {
    background-color: var(--SelectionColor);
    color: var(--ColorWhite);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-order {
    background-color: var(--SelectionColor);
    color: var(--ColorWhite);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-order:hover {
    background-color: var(--ColorAlmostWhite);
    color: var(--FontColorFirst);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-order:focus {
    background-color: var(--ColorAlmostWhite);
    color: var(--FontColorFirst);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--ColorWhite);
    width: 696px;
    height: 120px;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-third {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--FontColorFirst);
}

.p-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--FontColorSecond);
    width: 270px;
    height: 75px;
}

.image-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 10px 0;
}

.image-designation {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--FontColorSecond);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 16px;
}

.section-lightgray {
    background: var(--ColorAlmostWhite);
}

.section-white {
    background: var(--ColorWhite);
}

.section-darkgrey {
    background-image:linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/backgroundimg01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding:0;
    display: flex;
}

.section {
    padding: 94px 0 94px 0;

}
.menu {
    display: flex;
    flex-direction: row ;
    gap:46px;
}

.going-to-row {
    display: flex;
    flex-direction: row;}

.going-to-column {display: flex;
    flex-direction: column;
}
.figure-flex {
    display: flex;
    flex-direction: row;
}
.mail-tel-header {
    display: flex;
    flex-direction: row;
    gap: 50px;;
}

.footer-mail-tel{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
p {margin:0 auto}

.header-flex { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding-left: 15px;
    border-bottom: 1px solid #ECECEC;}

.main-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 412px;
    margin: 0 auto;
    padding: 0;
}

.spacing-flex {
   display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
}

.item-flex {
    background-color: #FFFFFF;
    box-shadow:
        0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin:0 auto;}

h2 {margin:0 auto;
    padding-bottom: 50px;
}


.container-header-left {
    display: flex;
    align-items: center;
}

.buttons-pfolio {
    border-radius: 4px;
    border: 0;
    padding: 6px 22px 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-pfolio:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-flex {
    display: flex;
    justify-content: center;
    }

.pfolio-btn-flex {
    display: flex;
    justify-content: center;
    gap:8px; }

.wraping-flex {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin: 0 auto;}

.pfolio-spacing-flex {
    margin: 0 auto;
    padding-top: 50px; 
}

.pfolio-item-flex {
    background-color: var(--white);
    margin: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pfolio-item-flex:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.figcaption-border {
    border: 1px solid #EEEEEE;
    display: block;
    margin: 0;
    z-index: 1;
    position: relative;
    background-color: #ffffff;
}
.navigation {
    margin-left: 77px;
}
.card-image.no-gap {
    display: block;
}
.pfolio-image-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding: 20px 24px 0 24px;
    color: #212121
}
.pfolio-image-designation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0 auto;
    padding: 4px 24px 20px 24px;
}

.icon-lorem {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin: 0 auto;
    border: 0;
    background-color: var(--ColorAlmostWhite);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-lorem:hover {
    fill: var(--SelectionColor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients:hover {
    fill: var(--SelectionColor);
    border-color: var(--SelectionColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-flex {
    display: flex;
    justify-content: center;
    margin:0 auto;
    padding-top: 0;
    padding-bottom: 30px;
    gap:10px;
}

.icon-sm-team {
    width: 44px;
    height: 44px;
    margin: 0;
    border: 0px ;
    fill: #AFB1B8;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-sm-team:hover {
    border-color: var(--SelectionColor);
    border-radius: 50%;
    fill: white;
    background-color: var(--SelectionColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.link-header-contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-sm-footer {
    width: 44px;
    height: 44px;
    margin: 0;
    border: 0px;
    fill: white;
    border-color: var(--SelectionColor);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-sm-footer:hover {
    background-color: var(--SelectionColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-spacing {
    gap:70px;
    margin:0 auto;
    width: 1200px;
    padding-left: 15px;
}

.h4-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.icon-gap-footer {gap:10px;}

.box {
    position: relative;
    overflow: hidden;
    transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.556;
    color: var(--ColorWhite);
    background-color: rgba(33, 150, 243, .9);
    padding: 49px 45px 0 24px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover,
.box:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box:hover .box-overlay {
    transform: translateX(0);
}

.what-we-do-box{
    position: relative;
}

.what-we-do-box-overlay {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: var(--ColorWhite);
    padding: 27px 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
}

/* ----Modal--- */

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ColorWhite);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* margin-top: 221px;
    margin-bottom: 222px; */
}

.is-hidden {
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-button {
    top: 8px;
    right: 8px;
    position: absolute;
    border-style: none;
}

.svg-modal-button {
    border-radius: 50%;
    top: 0;
    right: 0;
    width: 30px;
    position: absolute;
    height: 30px;
    background-color: var(--ColorWhite);
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: black;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover svg,
.modal-button:focus svg {
    cursor: pointer;
    background-color: var(--SelectionColor);
    fill: var(--ColorWhite);
}

.anime {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-delay: 1000ms;
    animation-iteration-count: 2;
    animation-direction:alternate-reverse;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}