@import "./utils/variables";
@import "./utils/colors";
@import "./utils/fonts";
@import "./utils/mixins";

@import "./components/base";
@import "./components/components";
@import "./components/header";
@import "./components/footer";
@import "./components/index-main";
@import "./components/portfolio-main";
@import "./components/modal";