*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: getColor('BackgroundColorFirst');
    color: getColor('FontColorFirst');
    font-family: getFont('first'), getFont('secondary'), getFont('backupFont'),
        getFont('lastFont'), getFont('FontType');
    @include margin-pading-null;
}

ul {
    list-style: none;
}

p {
    margin: 0 auto;
}

.main__container {
    background: getColor('ColorWhite');
}

.section {
    padding: 94px 0 94px 0;

    &--lightgray {
        background: getColor('ColorAlmostWhite');
    }

    &__container {
        width: $boxWidth;
        @include margin-pading-null;
        display: flex;
        @extend .going-to-column;
    }

    &__main-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: getColor('ColorWhite');
        width: 696px;
        height: 120px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 412px;
        @include margin-pading-null;
        }
}

.section__spacing {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include margin-pading-null;
}

.going-to-row {
    @include flexRow;
}

.going-to-column {
    @include flexColumn;
}

.figure-flex {
    @include flexRow;
}

.wraping-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.spacing-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include margin-pading-null;
}