.link {
    text-decoration: none;
    color: getColor('FontColorFirst');
    font-weight: 500;
    padding: 12px;
    font-size: 14px;
    margin: 0 4px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $transition;

    &:hover {
        color: getColor('SelectionColor');
        transition: $transition;
    }

    &:focus {
        color: getColor('SelectionColor');
        transition: $transition;
    }

    &--active {
        color: getColor('SelectionColor');
        position: relative;

        &::after {
            position: absolute;
            display: block;
            content: "";
            top: 45px;
            left: 0;
            width: 70%;
            height: 4px;
            border-radius: 2px;
            cursor: unset;
            pointer-events: none;
            background-color: getColor('SelectionColor');
            margin-left: 14px;
            transform: translateY(12px);
        }
    }
}

.buttons {
    background-color: getColor('SelectionColor');
    color: getColor('ColorWhite');
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: $transition;

    &:hover {
        background-color: getColor('ColorAlmostWhite');
        color: getColor('FontColorFirst');
        cursor: pointer;
        transition: $transition;
    }

    &:focus {
        background-color: getColor('ColorAlmostWhite');
        color: var(--FontColorFirst);
        cursor: pointer;
        transition: $transition;
    }
}