.header {
    background: getColor('ColorWhite');

    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: flex;
    }

    &__link {
        color: getColor('FontColorSecond');
        fill: getColor('FontColorSecond');
        transition: var(--transition);

        &:hover {
            color: getColor('SelectionColor');
            fill: getColor('SelectionColor');
            transition: var(--transition);
        }
    }

    &__link-logo {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--SelectionColor);
            text-decoration: none;
            margin: 0;
    
        &--color-other {
                color: getColor('FontColorFirst');
            }
        }

    &__contact {
        display: flex;
        flex-direction: row;
        gap: 50px;
        ;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        height: 80px;
        margin: 0 auto;
        padding-left: 15px;
        border-bottom: 1px solid getColor('LineColor');
    }

    &__row {
        display: flex;
        align-items: center;
    }
}

.navigation {
    margin-left: 77px;
}

// !!tego dziada nie ruszać, bo zepsuje kontakty w header -> on równa icony z mail i tel
.link.header__link {
    display: flex;
    align-items: center;
    gap: 10px;
}