.header {
    background: getColor('ColorWhite');

    &__container {
        width: $boxWidth;
        @include margin-pading-null;
        display: flex;
        @extend .header__flex;
    }
    &__item {
        display: flex;
        align-items: center;
    }

    &__link-logo {
            font-family: getFont('secondary');
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: getColor('SelectionColor');
            text-decoration: none;
            margin: 0;
    
        &--color-other {
                color: getColor('FontColorFirst');
            }
        }

    &__contact {
        @include flexRow;
        gap: 50px;
        ;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $boxWidth;
        height: 80px;
        margin: 0 auto;
        padding-left: 15px;
        border-bottom: 1px solid getColor('LineColor');
    }
}

.header__link {
    @extend .link;
    color: getColor('FontColorSecond');
    fill: getColor('FontColorSecond');
    transition: $transition;
    
    &:hover {
        color: getColor('SelectionColor');
        fill: getColor('SelectionColor');
        transition: $transition;
    }
}


.navigation {
    margin-left: 77px;
}

// !!tego dziada nie ruszać, bo zepsuje kontakty w header -> on równa icony z mail i tel
.link.header__link {
    display: flex;
    align-items: center;
    gap: 10px;
}