.list {

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--FontColorFirst);
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--FontColorSecond);
        width: 270px;
        height: 75px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        border-radius: 4px;
        margin: 0 auto;
        border: 0;
        background-color: var(--ColorAlmostWhite);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            fill: var(--SelectionColor);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.what-we-do-box {
    position: relative;

    &__description {
        position: absolute;
        bottom: 4px;
        left: 0;
        color: var(--ColorWhite);
        padding: 27px 0;
        width: 100%;
        background-color: #2f303acc;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        line-height: 1.143;
        text-transform: uppercase;
    }
}

.item {
    background-color: var(--ColorWhite);
    box-shadow:
        0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0 auto;

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 10px 0;
    }

    &__description {
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        color: var(--FontColorSecond);
        margin: 0 auto;
        text-align: center;
        padding-bottom: 16px;
    }

    &__container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 30px;
        gap: 10px;
    }

    &__icon-sm {
        width: 44px;
        height: 44px;
        margin: 0;
        border: 0px;
        fill: var(--ColorLightGray);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border-color: var(--SelectionColor);
            border-radius: 50%;
            fill: white;
            background-color: var(--SelectionColor);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.clients__icon {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid var(--ColorLightGray);
    fill: var(--ColorLightGray);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--SelectionColor);
        border-color: var(--SelectionColor);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}