.list {

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: getColor('FontColorFirst');
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: getColor('FontColorSecond');
        width: 270px;
        height: 75px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        border-radius: 4px;
        @include margin-pading-null;
        background-color: getColor('ColorAlmostWhite');
        transition: $transition;

        &:hover {
            fill: getColor('SelectionColor');
            transition: $transition;
        }
    }
}

.what-we-do-box {
    position: relative;

    &__description {
        position: absolute;
        bottom: 4px;
        left: 0;
        color: getColor('ColorWhite');
        padding: 27px 0;
        width: 100%;
        background-color: getColor('WeDoBoxTranspColor');
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        line-height: 1.143;
        text-transform: uppercase;
    }
}

.item {
    background-color: getColor('ColorWhite');
    box-shadow:
        0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    @include margin-pading-null;

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 10px 0;
    }

    &__description {
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        color: getColor('FontColorSecond');
        margin: 0 auto;
        text-align: center;
        padding-bottom: 16px;
    }

    &__container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 30px;
        gap: 10px;
    }
}

.item__icon-sm {
    width: 44px;
    height: 44px;
    margin: 0;
    border: 0px;
    border-radius: 50%;
    fill: getColor('ColorLightGray');
    transition: $transition;

    &:hover {
        border-color: getColor('SelectionColor');
        border-radius: 50%;
        fill: getColor('ColorWhite');
        background-color: getColor('SelectionColor');
        transition: $transition;
    }
}

.clients__icon {
    border: 1px solid getColor('ColorLightGray');
    fill: getColor('ColorLightGray');
    width: 170px;
    height: 92px;
    border-radius: 4px;
    margin: 0 auto;
    transition: $transition;

    &:hover {
        fill: getColor('SelectionColor');
        border-color: getColor('SelectionColor');
        cursor: pointer;
        transition: $transition;
    }
}