.slider {
    @extend .section;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/background-img-slider-1600@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        padding-top: 118px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 30px;
        padding-bottom: 60px;
    }

    &__main-title {
        @extend .section__main-title;
        margin:0 auto;
        max-width: 365px;
        height: 84px;
    }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .slider {
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/background-img-slider-1600@2x.jpg");
    }
}

.slider__container > buttons {
    margin-top: 30px;
}

@media screen and (min-width: 1200px){
    .slider{
        &__main-title {
            max-width: 696px;
            height: 120px;
            font-size: 44px;
            margin-top: 200px;
            line-height: 60px;
            letter-spacing: 0.06em;
        }
    &__container{
        height: 600px;
        padding-top: 0;
    }
    }
}


.list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    gap: 30px;
    &__container{
    padding: 60px 15px 60px 15px;
    }

    &__title {
        max-width: 450px;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: getColor('FontColorFirst');
        text-align: center;
        padding-top: 30px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: getColor('FontColorSecond');
        width: 100%;
        max-width: 450px;
        height: 75px;
    }
    &__icon-box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        background-color: getColor('ColorAlmostWhite');
    }

    &__icon {
        width: 70px;
        height: 70px;
    }
    
}

@media screen and (min-width: 768px) {

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        max-width: 738px;
    }

    .list__list-item {
        flex-basis: calc((100% - 30px * 1) / 2);
        max-width: 354px;
    }
}


@media screen and (min-width: 1200px) {
    .list{
        max-width: 1170px;
    }
    .list__list-item {
        flex-basis: calc((100% - 30px * 3) / 4);
        max-width: 270px;
    }
}

.offer__container{
    @extend .section__container;
    display: none;
}

.team {
    margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        background-color: getColor('ColorAlmostWhite');
        width: 100%;
        // max-width: 450px;

    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        padding-bottom: 20px;
    }

    &__list {
        margin: 0 auto;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    &__list-item{
        margin-bottom: 30px;
    }

    &__item {
        background-color: getColor('ColorWhite');
        box-shadow:
            0px 1px 3px rgb(0 0 0 / 12%),
            0px 1px 1px rgb(0 0 0 / 14%),
            0px 2px 1px rgb(0 0 0 / 20%);
        border-radius: 0px 0px 4px 4px;
        width: 100%;
            max-width: 450px;
            height: auto;
        display: flex;
        flex-direction: column;
            align-items: center;
        margin: 0;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 10px 0;
    }

    &__description {
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        color: getColor('FontColorSecond');
        margin: 0 auto;
        text-align: center;
        padding-bottom: 16px;
    }

    &__box {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 30px;
        gap: 10px;
    }
}

.team__icon-sm {
    width: 44px;
    height: 44px;
    margin: 0;
    border: 0px;
    border-radius: 50%;
    fill: getColor('ColorLightGray');
    transition: $transition;

    &:hover {
        border-color: getColor('SelectionColor');
        border-radius: 50%;
        fill: getColor('ColorWhite');
        background-color: getColor('SelectionColor');
        transition: $transition;
    }
}

@media screen and (min-width: 768px) {
    .team {
            &__list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
            }
    
            &__item {
                flex-basis: calc((100% - 30px * 1) / 2);
                max-width: 354px;
            }
        }
    }

@media screen and (min-width: 1200px) {
    .team__item {
            flex-basis: calc((100% - 30px * 3) / 4);
            max-width: 270px;
        }
    .team__title{
        font-size: 36px;
    }
}


.clients {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;

    &__container {
        @extend .clients;
        min-width: 290px;
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
        // flex-wrap: wrap;
        // margin: 0 auto;
        padding-bottom: 60px;
        margin: 0 auto;
        padding-top: 60px;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0;
        margin: 0 auto;
    }

    &__list-item {
        flex-basis: calc((100% - 30px * 1) / 2);
        width: 100%;
        height: 92px;
    }

    &__icon {
        fill: getColor('ColorLightGray');
        transition: $transition;
        align-self: center;
        width: 100px;

    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
        height: 100%;
        background-color: getColor('ColorWhite');
        border: 1px solid getColor('ColorLightGray');
        border-radius: 4px;
        transition: $transition;
        outline: none;

        &:hover,
        &:focus {
            border-color: getColor('SelectionColor');
            fill: getColor('SelectionColor');
            transition: $transition;
        }

        &:hover .clients__icon,
        &:focus .clients__icon {
            border-color: getColor('SelectionColor');
            fill: getColor('SelectionColor');
            transition: $transition;
        }
    }
}

@media screen and (min-width: 768px){
    .clients__list-item {
            flex-basis: calc((100% - 30px * 2) / 3);
        width: 226px;
        }
}

@media screen and (min-width: 1200px) {
    .clients__list-item {
        flex-basis: calc((100% - 30px * 5) / 6);
        width: 170px;
        &__title{
            font-size: 36px;
        }
    }
}


// .clients {
//     margin: 0;
//     margin-top: 60px;
//     padding: 0;
//     padding-bottom: 60px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-color: getColor('ColorWhite');

//     &__box {
//         margin:0 auto;
//     }

//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         gap: 30px;
//         margin: 0 auto;
//     }
//     &__list-item{
//         flex-basis: calc((100% - 30px * 1) / 2);
//         margin: 0 auto;
//         padding: 0;
//     }

//     &__title {
//         text-align: center;
//         padding-bottom: 30px;
//     }
// }


// .clients__icon {
//     border: 1px solid getColor('ColorLightGray');
    // fill: getColor('ColorLightGray');
//     width: 210px;
//     height: 92px;
//     border-radius: 4px;
//     margin: 0;
//     padding: 0;
//     transition: $transition;

//     &:hover {
//         fill: getColor('SelectionColor');
//         border-color: getColor('SelectionColor');
//         cursor: pointer;
//         transition: $transition;
//     }
// }

// NAPRAWIANIE ICON KLIENTÓW -KONIEC

// .slider{
//     @extend .section;
//     background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url("../images/backgroundimg01.jpg");
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;

// &__container{
//     @extend .section__container;
//     @extend .going-to-column;
//     @extend .section__flex;
// }

// &__main-title{
//     @extend .section__main-title;
// }
// }

// .list {
//     @extend .going-to-row;
//     @extend .spacing-flex;

//     &__title {
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
//         color: getColor('FontColorFirst');
//     }

//     &__text {
//         font-size: 14px;
//         line-height: 1.71;
//         letter-spacing: 0.03em;
//         color: getColor('FontColorSecond');
//         width: 270px;
//         height: 75px;
//     }

//     &__icon {
//         width: 270px;
//         height: 120px;
//         border-radius: 4px;
//         @include margin-pading-null;
//         background-color: getColor('ColorAlmostWhite');
//         transition: $transition;

//         &:hover {
//             fill: getColor('SelectionColor');
//             transition: $transition;
//         }
//     }
// }

// .offer{
//     &__list{
//         @extend .section__spacing;
//     }
// &__box {
//     position: relative;}

// &__description {
//         position: absolute;
//         bottom: 4px;
//         left: 0;
//         color: getColor('ColorWhite');
//         padding: 27px 0;
//         width: 100%;
//         background-color: getColor('WeDoBoxTranspColor');
//         align-items: center;
//         display: flex;
//         justify-content: center;
//         font-weight: 700;
//         line-height: 1.143;
//         text-transform: uppercase;
//     }
// }

// // team

// .team {
//     @extend .section;
//     @extend .section--lightgray;
//     &__container{
//     @extend .section__container;}
    
//     &__title {
//         @extend .section__title;
//     }
//     &__list{
//         @extend .section__spacing;
//     }

//     &__item {
//     background-color: getColor('ColorWhite');
//     box-shadow:
//         0px 1px 3px rgb(0 0 0 / 12%),
//         0px 1px 1px rgb(0 0 0 / 14%),
//         0px 2px 1px rgb(0 0 0 / 20%);
//     border-radius: 0px 0px 4px 4px;
//     @include margin-pading-null;}

//     &__name {
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 1.187;
//         letter-spacing: 0.03em;
//         margin: 0 auto;
//         text-align: center;
//         padding: 30px 0 10px 0;
//     }
//     &__description {
//         font-size: 16px;
//         line-height: 1.187;
//         letter-spacing: 0.03em;
//         color: getColor('FontColorSecond');
//         margin: 0 auto;
//         text-align: center;
//         padding-bottom: 16px;
//     }

//     &__box {
//         display: flex;
//         justify-content: center;
//         margin: 0 auto;
//         padding-top: 0;
//         padding-bottom: 30px;
//         gap: 10px;
//     }
// }

// .team__icon-sm {
//     width: 44px;
//     height: 44px;
//     margin: 0;
//     border: 0px;
//     border-radius: 50%;
//     fill: getColor('ColorLightGray');
//     transition: $transition;

//     &:hover {
//         border-color: getColor('SelectionColor');
//         border-radius: 50%;
//         fill: getColor('ColorWhite');
//         background-color: getColor('SelectionColor');
//         transition: $transition;
//     }
// }

// // team

// .clients{
//     @extend .section__container;
//     @extend .going-to-column;

//     &__list {
//         @extend .section__spacing;
//     }
//     &__title {
//         @extend .section__title;
//     }
// }

// .clients__icon {
//     border: 1px solid getColor('ColorLightGray');
//     fill: getColor('ColorLightGray');
//     width: 170px;
//     height: 92px;
//     border-radius: 4px;
//     margin: 0 auto;
//     transition: $transition;

//     &:hover {
//         fill: getColor('SelectionColor');
//         border-color: getColor('SelectionColor');
//         cursor: pointer;
//         transition: $transition;
//     }
// }